@import "normalize";
@import "variables";
@import "mixins";
// cmd + k2 to collapse

// Page transitions
	.page-enter-active,
	.page-leave-active {
		opacity: 1;
		transition: all .15s ease-out;
	}

	.page-enter,
	.page-leave-active {
		opacity: 0;
	}
// Animations
	@keyframes shake {
		0%,
		100% {
			transform: translate3d(0, 0, 0) rotate(10deg);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
			transform: translate3d(-10px, 0, 0) rotate(-10deg)
		}
		20%,
		40%,
		60%,
		80% {
			-webkit-transform: translate3d(10px, 0, 0);
			-ms-transform: translate3d(10px, 0, 0);
			transform: translate3d(10px, 0, 0) rotate(0deg);
		}
	}
	@keyframes rubberBand {
	  	0% {
			transform: scale3d(1, 1, 1) translate($nav-size * 2, -($nav-size * 2));
	  	}
		30% {
			transform: scale3d(1.25, .75, 1) translate($nav-size, -($nav-size));
		}
		40% {
			transform: scale3d(0.75, 1.25, 1) translate(0, 0);
		}
		50% {
			transform: scale3d(1.15, .85, 1);
		}
		65% {
			transform: scale3d(.95, 1.05, 1);
		}
		75% {
			transform: scale3d(1.05, .95, 1)
		}
		100% {
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes rubberBandBasic {
	  	0% {
			transform: translate($nav-size * 2, -($nav-size * 2));
	  	}
		30% {
			transform: translate($nav-size, -($nav-size));
		}
		100% {
			transform: translate(0, 0);
		}
	}
	@keyframes rollIn {
		0% {
				transform: rotate(0deg);
		}
		100% {
				transform: rotate(180deg);
		}
	}
	@keyframes rollOut {
		0% {
				transform: rotate(180deg);
		}
		100% {
				transform: rotate(0deg);
		}
	}
	@keyframes fadeInOut {
		0% {
				opacity: 0;
				transform: translateY(0);
		}
		50% {
				opacity: 1;
				transform: translateY(-10px);
		}
		100% {
				opacity: 0;
				transform: translateY(-30px);
		}
	}
// Globals
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-family: $main-font;
		color: $body-color;
		font-size: 1em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-overflow-scrolling: touch;
	}
	body {
		overflow-x: hidden;
	}
	a {
		text-decoration: none;
		color: $secondary-color;
	}
	img {
		max-width: 100%;
		display: block;
	}
	h1,
	h2,
	h3 {
		font-weight: 300;
		color: $body-color;
	}
// Helper classes
	.btn {
		background-color: $primary-color;
		color: $secondary-color;
		display: inline-block;
		padding: 1em;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		&:active,
		&:focus {
			background-color: lighten($primary-color, 13%);
		}
		&--default {
			border: 1px solid $primary-color;
			background-color: transparent;
			&:active,
			&:focus {
				border-color: lighten($primary-color, 25%);
				background-color: transparent;
			}
		}
	}
// Containers
	.container {
		text-align: center;
		position: relative;
		overflow-x: hidden;
		&--full {
			min-height: 100vh;
			// display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: inset 0 0 0 $border-base rgba($primary-color, 1);
			display: table;
			width:100%;
			overflow: hidden;
			text-align: center;
		}
	}

	.max-container {
		max-width: $max-width;
		margin: 0 auto;
		&--sm {
			max-width: 900px;
		}
	}

	.grid {
		@include respond-to(sm-and-up) {
			display: flex;
			flex-wrap: wrap;
			&__item {
				width: 33%;
			}
		}
	}
	.splash {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		text-align: center;
		&__btn {
			margin: 1em 1em 0;
			position: relative;
		}
		&__btn-wrap {
			margin-top: 2em;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__subtitle {
		&--alt {
			font-family: $accent-font;
		}
		}
		&__tool-tip {
			position: absolute;
			bottom: 100%;
			margin: 0 auto .5em;
			left: 0;
			opacity: 0;
		.show & {
			animation-name: fadeInOut;
			animation-duration: 1.5s;
			animation-fill-mode: both;
		}
		}
		@include respond-to(sm-and-up) {
			&__btn-wrap {
				flex-direction: row;
			}
		}
	}
